{% extends 'base.html' %}
{% load static %}
{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
{% endblock %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-signup-form py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card form-bg shadow-az">
          <span class="shape-custom-3 "></span>
          <div class="card-header text-center bg-transparent">
            <i class="fa fa-user-circle"></i>
            <h2 class="h1-text-form-color">Login</h2>
          </div>
          <div class="card-body py-4 h1-text-form-color">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{ form.username|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.password|as_crispy_field }}
              </div>
              <div class="form-group">
                <button type="submit" class="btn-custom">Log In</button>
              </div>
            </form>
          </div>
          <a href="{% url 'signup' %}" class="text-decoration-none px-3 py-1">create an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}