<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>Footer</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">

{% block cssimport %}

{% endblock %}
</head>

<body>


    <!-- Footer -->

    <body>
        <div id="footer">
            <br /><br /><br />
            <div style="margin-left: 90px;">
                
                <a href="https://www.sitech.me/">website</a>
                <a href="{% url 'tracks' %}">Tracks</a>
               <!-- <a href="#">Contact</a>
                <a href="#">Blog</a>
                <a href="#">Resources</a>
                <a href="#">Careers</a> -->
            </div>
            <div>
                <span>
                    <!--style of img with in it -->
                    <img src="{% static 'images/logos.svg' %}" style=" margin-top:7px; /* */
                    width: 200px;
                    height: 25px;
                    margin-left: 70px;">&nbsp;&nbsp; <span
                        style="color: #81a2bd;font-size: 13;">Copyright ©️ 2021
                        Sitech. All rights reserved.
                    </span> <!--color change-->
                    <a href="https://www.sitech.me/privacy-policy"style="color: ##81a2bd;font-size: 13;">Privacy Policy</a> <!--color change-->
                    <a href="https://www.linkedin.com/company/sitechinc/" class="fa fa-linkedin"style="margin-left: 500px;"></a>
                         <a href="https://www.instagram.com/sitechinc/"class="fa fa-instagram"></a> 
                         <a href="https://twitter.com/SiTechINC" class="fa fa-twitter"></a>
                    <a href="https://web.facebook.com/sitechfb?_rdc=1&_rdr" class="fa fa-facebook"></a>
                </span>
            </div>
        </div>
    </body>

</html>







</footer>





</body>

</html>










</body>