

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #EBE9E1;
    background-repeat:no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Poppins,sans-serif;
    color: #124bd8;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.pages-content {
    min-height: calc(100vh - 330px);
}

