.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
}

.side-custom {
    color: #124BD8;
    background-color: #ebe9e1;
}

.border-profile {

    /* border: 1px solid #124BD8; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

.text-custom-header {
    color: #124BD8;
}
.text-custom:hover {
    color: #112849;
}

.bg-profile-tabs {
    /* background-image:url('../images/Icon_MT_3.svg'); */
    /* background-image:url('../images/Pattern_2.svg'); */
    /* background: #ebe9e1 url("../images/Pattern_2.svg") top center no-repeat; */
    /* opacity: 0.5; */
    background-color: #ebe9e1;
    /* background-repeat:no-repeat; */
}


/* .form-div {
    width: fit-content;
    height: fit-content;
} */

.con-tabs {
    z-index: 2;
}

.hr-bold {
    border: 1px solid #124BD8;
    opacity: 1;
}

