{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" action="{% url 'add_project' %}" enctype="multipart/form-data" id="project-form">
    {% csrf_token %}
    {{ form.as_p }}

    <hr>

    <h3>Add Members</h3>
    <div id="members-container">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>

            {% for form in formset %}
            {{ form }}
            {% endfor %}
        </table>
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ formset.empty_form.as_table }}
            </table>
        </div>
</form>
</div>

<button id="add_member"> + <button>
        <br />
        <button id="submit-forms">Submit<button>


                {% endblock %}

                {% block js %}
                
                <script>

                    $(document).ready(function () {

                        $('#add_member').click(function () {
                            var form_idx = $('#id_form-TOTAL_FORMS').val();
                            $('#project-form').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                        });

                        $('#submit-forms').on('click', function (event) {
                            event.preventDefault();
                            console.log("forms submitted!")
                            var data = $('#project-form').serializeArray()
                            console.log(data)
                            $('#id_form-0-image').val()
                            $('#project-form').submit();
                            // create_post();
                        });

                        
                    })


                </script>
                {% endblock %}