{% extends 'base.html' %}

{% load static %}

{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/resources.css' %}" type="text/css">{% endblock %}

{% block title %}Resources{% endblock %}

{% block content %}

<div class="container-fluid m-2 p-2 text-center ">
    <nav aria-label="breadcrumb" class="w-50 border border-white bg-white d-flex mx-auto mb-3 rounded-pill">
        <ol class="breadcrumb p-2 mx-auto m-0">
            <li class="breadcrumb-item active p-2 " aria-current="page"><a href="{% url 'tracks' %}">{{track_name}}</a></li>
            <li class="breadcrumb-item active p-2 " aria-current="page"><a href="{% url 'track' track_id %}">{{topic_name}}</a></li>
            <li class="breadcrumb-item active p-2 " aria-current="page"><a href="{% url 'topic' track_name topic_id %}">{{resources.0.4}}</a></li>
            <li class="breadcrumb-item active p-2 " aria-current="page">Resources</li>
        </ol>
    </nav>
    <br>
    <p class="fw-bold fs-5">These are the resources you can follow to master the chosen course !</p>
</div>

<div class=" d-flex justify-content-center p-2 mx-auto">
    {% for resource in resources %}
    <div class="card m-4 p-4 col-4 border-1 rounded">
        <img class=" img-thumbnail track-images d-block" src="/media/{{ resource.2 }}" alt="Card image cap">
        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <h5 class="card-title mt-2 p-0 fw-bold fs-3">{{ resource.0 }}</h5>
                <p class="card-text text-wrap p-0 my-4">{{ resource.1 }}</p>
            </div>
            <a class="btn btn-primary" href="{{ resource.3 }}" target="_blank">Go</a>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}