{% extends 'base.html' %}

{% load static %}

{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/resources.css' %}" type="text/css">{% endblock %}

{% block title %}Resources{% endblock %}

{% block content %}

<div class="container-fluid m-2 p-2 text-center ">
    <nav aria-label="breadcrumb" class="w-50 border border-white bg-white d-flex mx-auto mb-3 rounded-pill">
        <ol class="breadcrumb p-2 mx-auto m-0">
            <li class="breadcrumb-item active p-2 " aria-current="page"><a href="{% url 'tracks' %}">{{track_name}}</a>
            </li>
            <li class="breadcrumb-item active p-2 " aria-current="page"><a href="{% url 'track' track_id %}">{{ topic_name }}-{{ course_name }}</a></li>
            <li class="breadcrumb-item active p-2 " aria-current="page">Resources</li>
        </ol>
    </nav>
    <br>
    <p class="fw-bold fs-5">These are the resources you can follow to master the chosen course !</p>
</div>

<div class=" d-flex justify-content-center p-2 mx-auto">
    {% for resource in resources %}
    <div class="card m-4 p-4 col-4 border-1 rounded">
        <img class=" img-thumbnail track-images d-block" src="/media/{{ resource.2 }}" alt="Card image cap">
        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <h5 class="card-title mt-2 p-0 fw-bold fs-3">{{ resource.0 }}</h5>
                <p class="card-text text-wrap p-0 my-4">{{ resource.1 }}</p>
            </div>

            

            {% if track_name in enrolled_tracks %}

            {% if resource.6 in progress %}
            <form action="{% url 'delete_from_progress_view' user.id resource.6 track_name topic_name resource.5 %}"
                method="POST" >
                {% csrf_token %}
                <input type="checkbox" onchange="this.form.submit();" name="Done" id="Done" checked>
            </form>

            {% else %}

            <form action="{% url 'add_to_progress_view' user.id resource.6 track_name topic_name resource.5 %}"
                method="POST" id="zaform">
                {% csrf_token %}
                Have you finished this resource? <input type="checkbox" data-bs-toggle="modal" data-bs-target="#staticBackdrop" name="Done" id="Done">

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"><b>Finishing A Resource</b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <b>Holy guacamole!</b>  
                                <br> 
                                You have finished this entire <b>{{ resource.0 }}</b> resource! That's awesome dude :D Keep up the great work ;)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not yet</button>
                                <button type="button" class="btn btn-primary" style="width: max-content;" id="yes">Yup, all done! Checked!</button>
                            </div>
                        </div>
                    </div>
                </div>



            </form>
            {% endif %}
            {% endif %}
      
            <a class="btn btn-primary" href="{{ resource.3 }}" target="_blank">Go</a>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>

$('#done').on("change",function(e){
    e.preventDefault();
});

$('#yes').on("click",function(){
    $('#zaform').submit()
});


</script>
{% endblock %}