{% extends 'base.html' %}
{% load static %}
{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid div-custom">
    <div class="content">
        <div class="content-box d-flex flex-column justify-content-center pt-5">
            <div class="home-hero-image">
                <h1 class="ps-5">Welcome to</h1>
                <img src="{% static 'images/Sitech_Logo_Blue.svg' %}" alt="">
            </div>
            <div class="home-headers content-box d-flex flex-column pt-1">
                <h2>Congratulations on joining the team!</h2>
                <h3>This is where you can start your journey...</h3>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
                <h4>Hello There!</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
