{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">

<div class="login-signup-form py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card form-bg shadow-az">
          <span class="shape-custom-3 "></span>
          <div class="card-header text-center bg-transparent">
            <i class="fa fa-user-circle"></i>
            <h2 class="h1-text-form-color">Edit Your Info</h2>
          </div>
          <div class="card-body py-4 h1-text-form-color">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{ form.first_name|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.last_name|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.title|as_crispy_field }}
              </div>
              <div class="form-group float-end">
                <button type="submit" class="btn-custom">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>