{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid my-0 side-custom">
    <div class="row vh-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 col-2 side-custom border-profile">
            <div class="d-flex flex-column align-items-center">
                <div class="nav tabs d-flex flex-column text-center" id="tab" role="tablist">
                    <a href="#image" class="nav-link text-custom-nav" id="image-tab" data-bs-toggle="tab" role="tab"
                        aria-controls="image" aria-selected="false"></a>
                </div>
                <img class="user-img" src="{{ user.profile.image.url }}" alt="{{ user.first_name }}">

                <form action="{% url 'img_edit_profile' 0 1 %}" method="POST" id="change_image"
                enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_edit_image.image|as_crispy_field }}
                    </div>
                </form>

                <h3 class="my-2 user-name">{{ user.first_name }} {{ user.last_name }} </h3>
                <h6 class="my-2">{{ user.profile.title }}</h6>
            </div>
            <hr class="hr-bold">
            <ul class="nav tabs d-flex flex-column text-center" id="tab" role="tablist">
              
                <li><a class="nav-link text-custom-nav" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="false">My Tracks</a>
                </li>
                <hr class="hr-bold">

                <a class="nav-link text-custom-nav" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Edit Profile Info</a>
                </li>
                <hr class="hr-bold">
                <li>
                    <a class="nav-link text-custom-nav" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Change Password</a>
                </li>
                <hr class="hr-bold">
            </ul>

        </div>

        <div class="tab-content bg-profile-tabs col-10 " id="tabContent">

            <div>
                <h2>Welcome to your profile {{user.first_name}}!</h2>
            </div>

            <div class="tab-pane tracks-container fade-in-up" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% include "profile_tracks.html" with progress=progress %}
            </div>

            <div class="tab-pane fade-in-up" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% include "profile_edit.html" with form=form_edit_user %}
            </div>

            <div class="tab-pane fade-in-up" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                {% include "change_password.html" with form=form_change_password %}
            </div>

        

        </div>

    </div>
</div>
{% endblock %}
{% block js %}

<script>
    $(document).ready(function(){
        $('#id_image').on('change', function () {
            $('#change_image').submit()
        });
    })
    </script>
{% endblock %}
