{% extends 'base.html' %}

{% load static %}

{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/tracks.css' %}" type="text/css">{% endblock %}

{% block title %}Tracks{% endblock %}

{% block content %}
<div class="container-fluid m-2 p-2 text-center ">
    <nav aria-label="breadcrumb" class="w-50 border border-white bg-white d-flex mx-auto mb-3 rounded-pill">
        <ol class="breadcrumb p-2 mx-auto m-0">
            <li class="breadcrumb-item active p-2 " aria-current="page">Tracks</li>
        </ol>
    </nav>
    <p>About Tracks, shu hummeh o shu testa3mel o keef troo7 o hek</p>
</div>

<div class=" d-flex justify-content-center p-2 mx-auto">

    {% for track in object_list %}

    <div class="card m-4 p-4 w-25 border-1 rounded" style="width: 20rem;">
        <img class=" img-thumbnail track-images mx-auto d-block" src="{{ track.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mt-2 p-0 fw-bold fs-3 text-center">{{ track.name }}</h5>
            <p class="card-text text-wrap">{{ track.descirption }}</p>
            <div class="text-center">
                <form action="{% url 'user_track_view' user.id track.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Enroll</button>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}