{% extends 'base.html' %}
{% load static %}

{% block cssimport %}
<link rel="stylesheet" href="{% static 'css/what-the-hell.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid col-10">
    <div class=" sitech-container p-5 ">
        <div class="d-flex justify-content-center align-items-end p-4 ">
            <div class="col-4 p-3">
                <h1 class="my-4">What THE HELL <br>
                    What is SiTech?</h1>
                <p class="text-warp">SiTech Headquarter includes the best Superheros in Jordan except for Bassam. We
                    build spaceships
                    through technologies some of the employees come with their cars and some of them fly in like
                    Ihab.<br>
                    We
                    open portals, especially for lunch. In the end, we have one in common target we create kick-ass
                    projects.(Gif) receipt and images for superheroes.</p>
            </div>
            <div class="py-3 p-r3">
                <img class="about-img" src="{% static 'images/zaid-image.jpeg' %}" alt="Heerrreeee">
            </div>

        </div>
    </div>
    <div class=" p-5 ">
        <div class="d-flex justify-content-center align-items-end p-4 ">
            <div class="col-8 p-3">
                <h4>( how to enroll in the justice league)</h4>
                <h1 class="my-4">What is the program about?</h1>
                <p class="text-warp">to become the new superhero, you need to empower yourself with knowledge.You
                    can
                    improve through the different courses in our universe, select your track and get the magic
                    start!!!
                    ( called to acLon --> tracks)</p>
            </div>

        </div>
    </div>
    <div class=" p-5 " id="superheros">
        <div class="d-flex justify-content-left flex-column p-4 ">
            <div class="col-8 p-3">
                <h4>(SiTech anchors)</h4>
                <h1 class="my-4">Who to talk to if I have questions? </h1>
                <p class="text-warp">Don't feel bad if you are still lost, Thomas Edison tried 100 ways until he get the
                    way to
                    create light bulb (let there be light).</p>
            </div>
            <div class="d-flex justify-content-evenly mx-auto flex-wrap-reverse p-3">
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name ">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
                <div class="d-flex flex-column position-relative">
                    <img class="heros_image" src="..." class="rounded float-left" alt="Hi">
                    <p class="superhero-name">Moath</p>
                    <p class="superhero-department">Moath</p>
                </div>
            </div>
        </div>



    </div>
    <div class=" p-5 ">
        <div class="d-flex justify-content-center align-items-end p-4 ">
            <div class="col-8 p-3">
                <h1 class="my-4">Our magic tools:</h1>


            </div>



        </div>
    </div>
</div>
{% endblock %}